
@import '../components/styles.css';
@font-face {
    font-family: 'myFirstFont';
    src: url('../fonts/Wendy-LP-Bold.ttf');
}

.carousel .carousel-item {
    visibility: visible;
  }

.carousel-holder > .kids-carousel, .women-carousel, .men-carousel > p {
  font-family: 'myFirstFont';
  font-size: 60px;
  text-align: center;
  vertical-align: middle;
  color: #52a79a;
}
.header > .navbar-fixed > .nav-wrapper > .brand-logo {
  font-family: 'myFirstFont';
  font-size: 50px;
}

.header > .navbar-fixed > .nav-wrapper > .hide-on-med-and-down > li > a{
  font-family: 'myFirstFont';
  font-size: 30px;
}
.dropdown-content li > a, .dropdown-content li>span {
  font-family: 'myFirstFont';
  font-size: 30px;
}

.footer-b {
  height: 200px;
}

.nav-foot {
  height: 100%;
}

/* nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
  line-height: 33px;
} */
.footer-link {
  display: block;
  line-height: 33px;
}
.footer-link > a {
  cursor: pointer;
  font-family: 'myFirstFont';
  font-size: 25px;
}

.web-page {
  font-family: 'myFirstFont';
  font-size: 30px;
  color: black;
}
body > div.ng-scope > div.footer-b > nav > div > div:nth-child(1) > div {
  font-family: 'myFirstFont';
  font-size: 40px;
}

.footer-logo {
  bottom: 35%;
}

ul#slide-out {
  position: relative;
  background-color: white;
}

#slide-out > li {
  float: none !important;
}
#slide-out > li > a {
  color: #489386;
}

@media screen and (max-width: 667px) {
  .footer-b {
    height: 100%;
  }
  .nav-foot {
    height: 100%;
  }
  .row .col.s3 {
    width: 100%;
  }
  .footer-logo {
    position: unset !important;
  }
}

@media screen and (max-width: 992px) {
  #dropdown1, #navBarFixed {
    display: none;
  }
  #menuDropDown {
    display: block;
  }
  .mobile-logo {
    top: 0;
    font-family: 'myFirstFont';
    font-size: 50px !important;
  }
}

@media screen and (min-width: 993px) {
  #dropdown1, #navBarFixed {
    display: block;
  }
  #menuDropDown {
    display: none;
  }
}
