<div class="contact-holder">
  <div class="col s4">
    <div class="input-field row s8">
      <input id="first_name" type="text" class="validate">
      <label for="first_name">First Name</label>
    </div>
    <div class="input-field row s6">
      <input id="last_name" type="text" class="validate">
      <label for="last_name">Last Name</label>
    </div>
    <!-- <i class="material-icons prefix">email</i> -->
    <div class="input-field row s6">
      <input id="last_name" type="text" class="validate">
      <label for="last_name">Email</label>
    </div>

    <div class="input-field row s6">
      <textarea id="textarea1" class="materialize-textarea"></textarea>
      <label for="textarea1">Message</label>
    </div>
    <div class="row">
      <a class="waves-effect waves-light btn"><i class="material-icons left">send</i>Send</a>
    </div>
  </div>
</div>
