<div class="sub-menu">
  <a class="waves-effect waves-light btn btn-floating menu-one" ng-click="showMale()"><i class="material-icons left">face</i>Male</a>
  <a class="waves-effect waves-light btn btn-floating menu-one" ng-click="showFemale()"><i class="material-icons left">pregnant_woman</i>Female</a>
  <a class="waves-effect waves-light btn btn-floating menu-one" ng-click="showKids()"><i class="material-icons left">child_care</i>Kids</a>

  <a class="waves-effect waves-light btn menu-two" ng-click="showMale()"><i class="material-icons left">face</i>Male</a>
  <a class="waves-effect waves-light btn menu-two" ng-click="showFemale()"><i class="material-icons left">pregnant_woman</i>Female</a>
  <a class="waves-effect waves-light btn menu-two" ng-click="showKids()"><i class="material-icons left">child_care</i>Kids</a>
</div>

<div class="row row-pad" id="picHolder" ng-if="maleShirts">
  <div class="col s2 m2" id="pic" ng-repeat="item in imageHolderMale track by $index">
  <div class="card">
    <div class="card-image">
      <img src="{{item.image}}">
      <span class="card-title">{{item.title}}</span>
    </div>
    <div class="card-content">
      <p>{{item.content}}</p>
    </div>
    <div class="card-action">
      <a class="waves-effect waves-light btn"><i class="material-icons left"></i>Buy me</a>
    </div>
  </div>
  </div>
</div>

<div class="row row-pad" id="picHolder" ng-if="femShirts">
  <div class="col s2 m2" id="pic" ng-repeat="item in imageHolderFem track by $index">
  <div class="card">
    <div class="card-image">
      <img src="{{item.image}}">
      <span class="card-title">{{item.title}}</span>
    </div>
    <div class="card-content">
      <p>{{item.content}}</p>
    </div>
    <div class="card-action">
      <a class="waves-effect waves-light btn"><i class="material-icons left"></i>Buy me</a>
    </div>
  </div>
  </div>
</div>

<div class="row row-pad" id="picHolder" ng-if="kidsShirts">
  <div class="col s2 m2" id="pic" ng-repeat="item in imageHolderKids track by $index">
  <div class="card">
    <div class="card-image">
      <img src="{{item.image}}">
      <span class="card-title">{{item.title}}</span>
    </div>
    <div class="card-content">
      <p>{{item.content}}</p>
    </div>
    <div class="card-action">
      <a class="waves-effect waves-light btn"><i class="material-icons left"></i>Buy me</a>
    </div>
  </div>
  </div>
</div>
